<!DOCTYPE html>
<html>
    <head>
        <title>Global Property Auction</title>
        {{! <link rel="stylesheet" href="/css/main.css"> }}
    </head>
    <body>
        {{{body}}}
    </body>
</html>